.post_container{
    height: 81vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loaded_post{
    width: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.post{
    width: 98%;
    max-width: 490px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    border: 2px solid rgb(128, 124, 124);
    border-radius: 10px;
    overflow: hidden;
    animation: appear 3s ease;
    animation-timeline: view();
    animation-range: 0%;
    animation-range-end: 40%;
}
@keyframes appear {
    from{
        transform: translate(-50%,20px);
        opacity: 0;
    }
    to{
        transform: translate(-50%,0px);
        opacity: 1;
    }
}
.sender{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sender:hover{
    background: linear-gradient(#e2d9fb, transparent, transparent, #dbd5ec);
}
.sender img{
    height: 30px;
    width:30px;
    border-radius: 50%;
}
.sender .detail{
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
}
.img_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid thin gainsboro;
    border-radius: 6px;
}
.post img {
    max-height: 500px;
    max-width: 600px;
    padding: 6px;
}
.post .caption {
    height: 10%;
    width: 90%;
    padding: 5px 5%;
    background-color: rgba(220, 220, 220, 0.769);
}
.reactions{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}
.react{
    width: 55px;
    height: 70%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}
.reacted svg{
    fill: #9073de;
}
.filled{
    opacity: 0;
    transition: all 0.3s ease;
}
.reacted .filled{
    opacity:1;
}

.notifications{
    background-color: rgba(130, 145, 140, 0.877);
    min-width: 300px;
    height: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-30px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 5s ease;
    z-index: 100;
}
@media (max-width:760px) {
    
    .img_container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .post img {
        max-height: 500px;
        max-width: 310px;
        padding: 6px;
    }
    .reactions{
        font-size: 14px;
    }
    .react{
        width: 40px;
    }
    .react svg{
        width: 20px;
    }
}