*{
		padding:0;
	}
	.back{
		height:100vh;
		width:100%;
		position:absolute;
		z-index:-2;
	}
	.circle{
		width:200px;
		aspect-ratio:1;
		border-radius:50%;
		background-color:#9073de;
		position:absolute;
		left:27%;
		top:20%;
	}
	.circle::before{
		content:'';
		width:200px;
		aspect-ratio:1;
		display:block;
		background-color:orange;
		position:absolute;
		left:180%;
		top:120%;
		border-radius:35px;
		}
	.circle::after{
		content:'';
		width:160px;
		aspect-ratio:1;
		display:block;
		background-color:#9073de;
		position:absolute;
		left:190%;
		top:-20%;
		}
	.wraper{
		height:100vh;
		display:flex;
		align-items:center;
		justify-content:center;
		position:relative;
	}
	.container{
		text-align:center;
		width:350px;
		min-height:390px;
		border-radius:30px;
		border:solid thin lightgray;
		padding:10px;
		background-color:#c9e4ff5e;
		backdrop-filter:blur(10px);
	}
	.box{
		text-align:left;
		font-size:26px;

		display:grid;
	}
	.box input{
		height:30px;
		width:90%;
		margin:auto;
		border:solid thin;
		border-radius:10px;
	}
	#passStrength{
            font-size: 14px;
            display: none;
            grid-template-columns: 50% 50%;
            background-color: rgb(217, 227, 234);
            min-height: 5px;
            width: 90%;
            margin: 5px auto;
            padding: 5px;
            border-radius: 5px;
        }
        .criteria{
            display: flex;
            align-items: center;
        }
        .des{
            color: red;
	    padding-left:5px;
        }
        .criteria input:checked ~ .des{
            color: green;
        }
        #passStrength input{
            width: 12px;
        }
		@media (max-width:400px) {
			.container{
				width: 95%;
				height:max-content;
			}
			.box{
				font-size: 22px;
			}
            .circle{
                width: 100px;
                left:-4%;
                top:65%;
            }
            .circle::after{
                width: 146px;
                left: 278%;
                top:-305%;
                border-radius: 10px;
            }
			.circle::before{
                display: none;
            }
		}