.fieldset{
    padding: 6px;
    width: 96%;
    border-radius: 10px;
}
.F_request{
    gap: 5px;
    max-width: 94%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
.f_request,
.friend{
    height:60px;
    gap:10px;
    border:solid thin gray;
    border-radius:10px;
    padding:5px;
    min-width:300px;
    background-color: gainsboro;
    display: flex;
    align-items: center;
}
.f_request img,
.friend img{
    height: 40px;
    width:40px;
    border-radius: 50%;
    cursor:pointer;
    transition: all .1s ease;
}
.f_request img:hover,
.friend img:hover{
    border-radius: 10px;
}
.f_request .detail{
    width: 90%;
    display: flex;
    flex-direction:column;
    position: relative;
}
.f_request .detail div{
    position: absolute;
    right: 14px;
}
.F_suggestion{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 10px;
    gap: 7px;
    justify-content: space-between;
}
.f_sug{
    display: flex;
    flex-direction:column;
    align-items:center;
    text-align: center;
    justify-content: center;
    width: 150px;
    padding: 10px;
    background-color: var(--fr-sug);
    border: solid 2px var(--fr-sug-bor);
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.F_suggestion img{
    width: 100%;
    cursor:pointer;
}
.f_sug .detail{
    display: flex;
    flex-direction:column;
    align-items:center;
}
.Freinds{
    width: 80%;
}
.friend{
    width: 80%;
    position: relative;
    background-color: var(--chatHolder);
}
.friend img{
    margin-left: 23px;
    cursor: pointer;
}
.friend i{
    position: absolute;
    right: 90px;
    transform: scale(2.0);
    color: #664c7e;
    cursor: pointer;
}
@media (max-width:760px) {
    .F_request{
        max-width: 90%;
    }
    .f_request{
        min-width: 200px;
    }
    .f_request .detail div{
        position:unset;
    }
    .f_request .detail{
        height: 90%;
    }
    .friend{
        min-width: unset;
        width: 230px;
    }
    .friend img{
        margin-left: 10px;
    }
    .friend i{
        right: 10px;
        transform: scale(1.7);
    }
    .F_suggestion{
        grid-template-columns: 30% 30% 30%;
        gap: 4px;
    }
    .f_sug{
        width: 130px;
        padding: 5px;
    }
}
@media(max-width:400px){
    .F_request{
        max-width:70%;
    }
    .F_suggestion{
        grid-template-columns: 50% 50%;
    }
}